*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    margin-left: 32px;
    text-align: center;
}
main{
    background: rgb(161, 152, 152);
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}
header span{
    color: orange;
}
.acc-item{
    margin-bottom: 10px;
    background: rgb(219, 14, 14);
    padding: 30px 0px;
    color: aliceblue;
    border-radius: 10px;
}
.acc-item h4{
    font-weight: 600;
}

.acc-item2{
    background-color: rgb(11, 36, 231);
}
.acc-item3{
    background-color: rgb(148, 25, 105);
}
.form-control{
    width: 270px;
    margin: auto;
}
.form-label{
    margin-left: 30px;
}
.input-item{
    background: rgb(107, 241, 11);
    padding: 25px 0px;
    border-radius: 5px;
}

.input-item1{
    background: rgb(246, 6, 6);
}